<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- Suppress Kafka logs (ERROR level to hide WARN messages) -->
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.springframework.kafka" level="ERROR"/>
    <logger name="kafka" level="ERROR"/>
    <logger name="org.apache.kafka.clients" level="ERROR"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="org.apache.kafka.clients.consumer" level="ERROR"/>
    <logger name="org.apache.kafka.common" level="ERROR"/>
    <logger name="org.apache.kafka.common.network" level="ERROR"/>
    <logger name="org.apache.kafka.common.utils" level="ERROR"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

